
#contact_info_header {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  animation: header_anim 1s;
}

#contact_info {
  height: 100px;
  background-color: red;
}

#phone_number {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#social_media_header {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  animation: header_anim 1s;
}

#social_media {
  /*
  background-color: red;
  transform: translateX(-50%);
  transform: translateX(50vw);
  */
  /*
  width: 850px;
  height: 100px;
  background-color: red;
  */
  /*
  width: 860px;
  height: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  */
  height: 100px;
  background-color: red;
}

@keyframes header_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
 *  GITHUB LINK BUTTON CODE:
 *
 */

.sm_link {
  position: absolute;
  height: 100px;
  z-index: 0;
  cursor: pointer;
}

#github_link {
  width: 310px;
}

#linkedin_link {
  width: 350px;
}

.sm_link_overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 25px;
  transition-duration: .5s;
  z-index: 1;
}

.sm_logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
  z-index: 2;
}

.sm_text {
  position: absolute;
  font-size: 35px;
  color: white;
  padding-left: 105px;
  padding-top: 10px;
  transition-duration: .5s;
  z-index: 2;
}

.sm_link:hover .sm_link_overlay {
  width: 100%;
  z-index: 1;
}

.sm_link:hover .sm_text {
  color: black;
}

#linkedin_link {
  /*margin-left: 500px;*/
}

/*
#github_link {
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 0;
}

#github_link:hover #github_link_overlay {
  width: 300px;
  z-index: 1;
}

#github_link:hover #github_text {
  color: black;
}

#github_text {
  position: absolute;
  font-size: 60px;
  color: white;
  padding-left: 105px;
  padding-top: 10px;
  transition-duration: .5s;
  z-index: 2;
}

#github_link_overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 25px;
  transition-duration: .5s;
  z-index: 1;
}

#github_logo {
  margin-top: 10px;
  margin-left: 7px;
  width: 80px;
  z-index: 2
}
*/
